@charset "utf-8";

/* CSS Document */

/* jQuery fixes */

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    width: 50% !important;
}

/* Media Player */

.media-player {
    cursor: pointer;
}

/* Main styles */

.container {
    padding: 50px 4%;
}

.gray {
    background: #f3f4f3;
    border: none;
}

.button {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    border: 0;
}

/* Navigation styles */

#header {
    height: auto;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

#top-nav {
    width: 100%;
    margin: 20px 0;
}

#header .logo {
    float: left;
}

#header #navigation {
    height: 50px;
    font-size: 0.85em;
    line-height: 50px;
    border-top: 1px solid #E6E9EA;
}

#header #navigation a {
    display: block;
    float: left;
    height: 50px;
    padding: 0 14px;
    color: #9AA7AF;
    border-right: 1px solid #E6E9EA;
    transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
}

#header #navigation a:hover {
    text-decoration: none;
    background-color: #F3F4F3;
    transition: background-color 0.15s linear;
    -webkit-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
}

#header #navigation a.on,
#header #navigation div.on {
    color: #fff;
    background: #7572c1;
}

#header #navigation .categorySelect {
    padding-right: 34px;
    background-image: url(/Themes/Elo/Content/images/store/dropdown-arrow.gif);
    background-position: right;
    background-repeat: no-repeat;
}

#header #navigation .genres-menu {
    float: left;
    border-right: 1px solid #e6e9ea;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#header #navigation .genres-menu-title {
    padding: 0 20px;
    color: #9aa7af;
}

#header #navigation .genres-menu-items {
    position: absolute;
    background-color: white;
    border: 1px solid #e6e9ea;
    z-index: 9000;
    width: 250px;
    display: none;
    overflow-y: auto;
    height: 300px;
}

#header #navigation .genres-menu-items a {
    border: none;
    width: 250px;
}

/* SleepList Container styles */

.sleeplists-on-shelf {
    background-image: url(/Themes/Elo/Content/images/store/shelf-bg.jpg);
    background-position: center 100%;
    background-repeat: no-repeat;
}

.sleeplists-on-shelf .container {
    padding: 50px 4% 120px 4%;
}

.sleepListContainer {
    margin: 20px -1% 0 -1%;
}

a.header-homepage-link {
    background: none !important;
    font-weight: bold;
    color: #FD8204 !important;
}

/* SleepList styles */

.sleepList {
    float: left;
    width: 21%;
    margin: 7px 1%;
    padding: 1%;
    background: #fff;
    cursor: pointer;
    overflow: visible;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    position: relative;
}

.sleepList .cover {
    float: left;
    width: 100%;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.sleepList .cover img {
    width: 100%;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.sleepList .info {
    float: left;
    width: 100%;
    height: 60px;
    font-size: .85em;
}

.sleepList .info h4 {
    font-size: 1.2em;
    line-height: 1.25em;
    color: #2f383d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sleepList .rating {
    float: left;
}

.sleepList .buttonContainer {
    float: right;
    width: 100%;
    margin-top: 20px;
}

.sleepList .send,
.sleepList .sent {
    width: 100%;
    min-width: 0;
    padding: 10px 0;
    background-position: 20px center;
}

.sleepList .owned {
    background-image: url("/Themes/Elo/Content/images/store/owned-callout.png");
    background-repeat: no-repeat;
    height: 54px;
    left: 0;
    top: 0;
    position: absolute;
    width: 54px;
}

/* Small SleepList styles */

.sleepListContainerSmall {
    width: 29%;
    margin-right: 4%;
}

.sleepListContainerSmall h2 {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 1.2em;
    border-bottom: 1px solid #dadada;
}

.sleepListContainerSmall .sleepList {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 12px 0;
    font-size: 1em;
    line-height: 1.3em;
    background: none;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dadada;
}

.sleepListContainerSmall .sleepList .cover {
    width: 23%;
    margin-right: 4%;
}

.sleepListContainerSmall .sleepList .info {
    width: 73%;
    height: auto;
}

.sleepListContainerSmall .sleepList .info h4 {
    font-size: 1em;
}

.sleepListContainerSmall .sleepList .buttonContainer {
    width: 25%;
    margin: 0;
}

.sleepListContainerSmall input[type=submit] {
    padding: 5px 0;
    font-size: .85em;
}

/* SleepList Details Page styles */

#tabs ul.ui-tabs-nav > li {
    background: none repeat scroll 0 0 #f3f4f3 !important;
}

#tabs ul.ui-tabs-nav > li.ui-tabs-selected {
    background: none repeat scroll 0 0 #fff;
}

.container.sleeplist-detail-1,
.container.sleeplist-detail-2 {
    padding: 50px 4% 0 4%;
}

.sleeplist-detail-1 .cover {
    float: left;
    width: 33%;
    max-width: 200px;
    margin-right: 5%;
    overflow: visible;
}

.sleeplist-detail-1 .cover img {
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.sleeplist-detail-1 .info {
    float: left;
    width: 60%;
}

.sleeplist-detail-1 .info h2 {
    color: #2f383d;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
}

.sleeplist-detail-1 .info .rating {
    margin: 10px 0;
}

.sleeplist-detail-1 .info .button {
    width: 100%;
    max-width: 190px;
}

.sleeplist-detail-info {
    margin: 0 auto;
    border: 1px solid #e6e9ea;
    background: #fff;
    font-size: 0.85em;
    line-height: 1.35em;
}

.sleeplist-detail-info .story,
.sleeplist-detail-info .song,
.sleeplist-detail-info .sound {
    padding: 30px 50px;
}

.sleeplist-detail-info .story {
    background: url(/Themes/Elo/Content/images/mup/sleeplist-story-bg.png) left repeat-y;
    border-bottom: 1px solid #e6e9ea;
}

.sleeplist-detail-info .song {
    background: url(/Themes/Elo/Content/images/mup/sleeplist-song-bg.png) left repeat-y;
    border-bottom: 1px solid #e6e9ea;
}

.sleeplist-detail-info .sound {
    background: url(/Themes/Elo/Content/images/mup/sleeplist-sound-bg.png) left repeat-y;
}

.sleeplist-detail-info .sound:first-child {
    border-bottom: 1px solid #e6e9ea;
}

.sleeplist-detail-info table {
    width: 100%;
}

.sleeplist-detail-info td {
    padding: 10px;
}

.sleeplist-detail-info .cover,
.sleeplist-detail-info .cover img {
    width: 100px;
}

.sleeplist-detail-info .description {
    width: 50%;
}

.sleeplist-detail-info h4,
.sleeplist-detail-reviews h4 {
    color: #2f383d;
    font-size: 1.2em;
    line-height: 1.25em;
}

.buy-elo-1 .sleeplist-detail-info h4,
.buy-elo-1 .sleeplist-detail-reviews h4 {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sleeplist-detail-info .author {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    font-style: italic;
}

.sleeplist-detail-info .play-sample {
    width: 68px;
    text-align: center;
}

.sleeplist-detail-info .play-sample div {
    margin-bottom: 5px;
}

.sleeplist-detail-info .play-sample img {
    width: 34px;
}

.sleeplist-detail-reviews {
    margin: 0 auto;
    padding: 0 0 50px 0;
    border: 1px solid #e6e9ea;
    background: #fff;
    font-size: 0.85em;
    line-height: 1.35em;
}

.sleeplist-detail-reviews .rating {
    margin: 10px 0;
}

.sleeplist-detail-reviews .review {
    float: left;
    width: 40%;
    margin: 30px 5% 0 5%;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e9ea;
    display: none;
}

.buy-elo-1 .sleeplist-detail-reviews .review {
    width: 90%;
}

.sleeplist-detail-reviews .clear {
    padding-top: 30px;
    text-align: center;
}

.sleeplist-detail-reviews .button {
    width: 50%;
    margin: 0px auto;
    color: #FD8204;
    background-color: #f3f4f3;
    border: 1px solid #c9cacb;
}

.sleeplist-detail-reviews .button:hover {
    color: #fff;
    background-color: #fd8204;
}

/* Product Reviews */

.product-review-page .inputs label {
    display: inline-block;
    width: 150px;
}

.product-review-page .inputs label.multi-line-label {
    vertical-align: top;
}

.product-review-page .text-box {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #9aa7af;
    border-radius: 4px;
    color: #9aa7af;
    font-size: 1em;
    height: 40px;
    line-height: 1.75em;
    margin: 9px 0;
    padding: 0 10px;
    width: 250px;
}

.product-review-page .multi-line {
    height: 150px;
    resize: none;
}

.product-review-page .review-rating > label {
    float: left;
}

.product-review-page .review-rating > ul {
    float: left;
}

.product-review-page .review-rating > ul > li {
    float: left;
}

.product-review-page .buttons {
    width: 440px;
}

.product-review-page input[type="submit"] {
    background: none repeat scroll 0 0 #fd8204;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0.88em;
    line-height: 1em;
    margin-top: 15px;
    padding: 14px 18px;
    text-align: center;
    transition: background-color 0.15s linear 0s;
    width: 145px;
}

.product-review-page .required {
    color: red;
}

.product-review-page .field-validation-error {
    color: red;
    display: block;
    padding-left: 150px;
}

/* Button and Field styles */

input[type=submit] {
    -webkit-appearance: none;
    display: block;
    float: right;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 10px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
    background: #fd8204;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s linear;
    -webkit-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
    -webkit-appearance: none;
}

.sleeplist-detail-1 input[type=submit] {
    float: left;
    margin-top: 20px;
}

input[type=submit].show-dlg {
    background: #7572C1;
}

input[type=submit].show-dlg:hover {
    background: #9b98dc;
}

input[type=submit]:hover {
    background-color: #fbb062;
    text-decoration: none;
    transition: background-color 0.15s linear;
    -webkit-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
}

.sleepList input.hide {
    display: block;
}

.sleepList input.show {
    display: none;
}

.elo-dialog table {
    margin: 30px auto;
    max-width: 480px;
    text-align: left;
    width: 90%;
}

.elo-dialog {
    width: 400px !important;
    padding: 40px !important;
}

/* Other Content styles */

.buy-popup-label {
    display: inline-block;
    width: 75px;
}

.buy-elo-callout .container {
    padding: 0 4% 20px 4%;
}

.buy-elo-callout div div {
    height: 190px;
    width: 92%;
    padding: 30px 0 0 8%;
    background-image: url(/Themes/Elo/Content/images/store/buy-elo-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.buy-elo-callout h2 {
    font-size: 1.6em;
}

.buy-elo-callout h2 img {
    width: 100px;
    height: 50px;
    margin: 0 0 7px 0;
    vertical-align: bottom;
}

.buy-elo-callout .button {
    margin-top: 5px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1em;
    line-height: 1.3em;
    border: 0;
    min-width: 168px;
    height: 20px;
}

.open {
    display: none !important;
}

.not-found {
    height: 100px;
    color: #363636;
    text-align: center;
}

a.continue-shopping {
    text-transform: uppercase;
}

input[type=submit]#buy-sleeplist-button {
    text-transform: uppercase;
}

#search-form label {
    margin-top: 5px;
    display: block;
}

#search-form .text-box {
    width: 265px;
    height: 40px;
    padding: 0px 10px;
    margin: 9px 0;
    font-size: 1em;
    line-height: 1.75em;
    color: #9aa7af;
    border: 1px solid #9aa7af;
    border-radius: 4px;
    background: #ffffff;
}

#search-form .styled-select {
    overflow: hidden;
    width: 190px;
    display: inline-block;
    background: url(/Themes/Elo/Content/images/custom-select.png) no-repeat right;
    background-position: 160px;
    background-color: white;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #9aa7af;
    height: 40px;
    margin-right: 5px;
    margin-top: 3px;
}

#search-form .styled-select select {
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 1em;
    line-height: 1.75em;
    background: transparent;
    color: #9aa7af;
    padding: 0px 10px;
    margin: 9px 0;
}

#search-form .button {
    background: none repeat scroll 0 0 #fd8204;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.88em;
    font-weight: normal;
    line-height: 1em;
    margin-top: 20px;
    min-width: 148px;
    padding: 14px 18px;
    position: relative;
    text-align: center;
    transition: background-color 0.15s linear 0s;
    width: auto;
    float: left;
}

#continue-shopping {
    text-transform: uppercase;
}

#apply-discount,
#apply-giftcard {
    padding: 5px 10px 5px 10px;
    width: auto;
    min-width: 0;
}

#apply-giftcard {
    margin-top: 5px;
}

#applied-discount-code,
#applied-giftcard {
    font-weight: bold;
}

/* Suggested Items page after add to cart */

.suggested-items-page {
    padding: 50px 0;
}

.suggested-items-page .product {
    border: 1px solid #cecece;
    box-sizing: border-box;
}

@media only screen and (max-width: 980px) {
    #top-nav {
        margin: 10px 0;
    }

    #header .logo img {
        height: 30px;
    }

    .sleeplists-on-shelf .container {
        padding: 150px 4% 110px 4%;
    }

    .sleeplists-on-shelf {
        background: none repeat scroll 0 0 #f3f4f3;
        /*background-position: center 102%;
	    background-size: 98% 157px;*/
    }

    .container.sleeplist-detail-1 {
        padding: 150px 0 0;
    }
}

@media only screen and (max-width: 760px) {
    .sleeplists-on-shelf {
        background-image: none;
    }

    .sleeplists-on-shelf .container {
        padding: 150px 4% 30px 4%;
    }

    .sleepList {
        width: 46%;
        height: auto;
    }

    .sleepListContainerSmall {
        width: 100%;
        margin-bottom: 40px;
    }

    .sleepListContainerSmall .sleepList {
        width: 46%;
        margin-right: 4%;
    }

    .container.sleeplist-detail-1,
    .container.sleeplist-detail-2 {
        padding-bottom: 0;
    }

    .sleeplist-detail-info .story,
    .sleeplist-detail-info .song,
    .sleeplist-detail-info .sound {
        padding: 30px 10px 30px 50px;
    }

    .sleeplist-detail-info .play-sample {
        width: 34px;
    }

    .sleeplist-detail-info .play-sample div {
        display: none;
    }

    .sleeplist-detail-info .play-sample img {
        float: right;
    }

    .sleeplist-detail-reviews .review {
        width: auto;
        margin: 30px 30px 0 30px;
    }

    .sleeplist-detail-reviews .button {
        width: auto;
    }

    .buy-elo-callout div div {
        height: 170px;
        width: 96%;
        margin-top: 20px;
        padding: 30px 0 0 4%;
        background-position: -100px;
        background-size: 800px auto;
    }
}

@media only screen and (max-width: 480px) {
    #header #navigation {
        height: 40px;
        line-height: 40px;
    }

    #header #navigation a {
        height: 40px;
    }

    .sleepListContainer {
        margin: 20px auto 0 auto;
    }

    .sleepList {
        width: 96%;
        height: auto;
        margin: 4px 0;
        padding: 2%;
        font-size: 1em;
    }

    .sleepList .cover {
        width: 23%;
        margin-right: 4%;
    }

    .sleepList .info {
        width: 73%;
        height: auto;
    }

    .sleepList .buttonContainer {
        width: 25%;
        margin: 0;
    }

    .sleepList input.hide {
        display: none;
    }

    .sleepList input.show {
        display: block;
    }

    .sleepListContainerSmall .sleepList {
        width: 100%;
        padding: 12px 0;
        font-size: 1.3em;
    }

    .sleepListContainerSmall input[type=submit] {
        padding: 10px;
        font-size: .85em;
    }

    .sleeplist-detail-1 .info,
    .sleeplist-detail-info,
    .sleeplist-detail-reviews {
        font-size: 1em;
        line-height: 1.5em;
    }

    .sleeplist-detail-info .cover,
    .sleeplist-detail-info .cover img {
        display: none;
    }

    .buy-elo-callout div div {
        background-position: -10px;
        background-size: 500px auto;
    }
}

@media only screen and (max-width: 320px) {
    .sleeplist-detail-1 .cover {
        width: 100%;
        max-width: none;
        margin: 0 0 20px 0;
    }

    .sleeplist-detail-1 .info {
        width: 100%;
    }

    .sleeplist-detail-1 .info .button {
        max-width: none;
    }
}

/* Pillowcases */

.buy-elo-callout {
    padding: 1% 0;
}

.buy-elo-callout .buy-elo-button,
.buy-elo-callout .buy-pillowcases-button {
    height: 180px;
    width: 45%;
    padding: 40px 0 0 4%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.buy-elo-callout .buy-elo-button {
    background-image: url('/Themes/Elo/Content/images/store/buy-elo-bg.jpg');
}

.buy-elo-callout .buy-pillowcases-button {
    height: 160px;
    width: 46%;
    padding: 60px 0 0 4%;
    background-image: url('/Themes/Elo/Content/images/store/buy-pillowcases-bg.jpg');
}

.buy-elo-callout h2 {
    font-size: 1.6em;
}

.buy-elo-callout h2 img {
    width: 100px;
    margin: 0 0 7px 0;
    vertical-align: bottom;
}

.buy-elo-callout .buy-pillowcases-button h2 {
    margin-bottom: 11px;
}

.buy-elo-callout .button {
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 1em;
    line-height: 1.3em;
    border: 0;
}

@media only screen and (max-width: 980px) {
    .pillowcases {
        background-image: none;
    }

    .pillowcases .container {
        padding: 100px 4%;
    }

    .pillowcases .twoThird {
        width: 100%;
    }
}

@media only screen and (max-width: 760px) {
    .buy-elo-callout {
        padding-top: 5px;
    }

    .buy-elo-callout .buy-elo-button,
    .buy-elo-callout .buy-pillowcases-button {
        height: 170px;
        width: 94%;
        margin-bottom: 5px;
        padding: 30px 0 0 6%;
    }
}

@media only screen and (max-width: 480px) {
    .pillowcases .container {
        padding: 60px 4%;
    }

    .buy-elo-callout .buy-elo-button,
    .buy-elo-callout .buy-pillowcases-button {
        background-position: top left;
        background-size: 450px auto;
    }
}

/* Pillowcases */

/* Gift Cards */

/* Product styles */

.pillowcases {
    background-color: #f3f9fd;
    background-image: url('/Themes/Elo/Content/images/store/pillowcases-bg.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.giftcards {
    background-color: #f3f9fd;
    background-position: top right;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.product-container {
    margin-top: 60px;
}

.product {
    float: left;
    width: 21%;
    margin: 7px 1%;
    padding: 1%;
    background: #fff;
    cursor: pointer;
    overflow: visible;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.product .cover {
    float: left;
    width: 100%;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.product .cover img {
    width: 100%;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.product .info {
    float: left;
    width: 100%;
    height: 90px;
    font-size: .85em;
}

.product .info h4 {
    font-size: 1.2em;
    line-height: 1.25em;
    color: #2f383d;
}

.product .rating {
    float: left;
    width: 100%;
}

.product .price {
    float: left;
}

.product .buttonContainer {
    float: right;
    width: 100%;
    margin-top: 20px;
}

.product .send,
.product .sent {
    width: 100%;
    min-width: 0;
    padding: 10px 0;
    background-position: 20px center;
}

.pillowcase-details .description {
    padding: 40px;
    background-color: #fff;
}

@media only screen and (max-width: 980px) {
    #navigation {
        display: none;
    }

    #header .container {
        height: 44px;
    }

    #top-nav {
        margin: 5px 0;
    }

    .pillowcases {
        background-image: none;
    }

    .pillowcases .container {
        padding: 60px 4%;
    }

    .pillowcases .twoThird {
        width: 100%;
    }

    .sleeplists-on-shelf .container {
        padding: 100px 4% 30px;
    }
}

@media only screen and (max-width: 760px) {
    .product {
        width: 46%;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .pillowcases .container {
        padding: 60px 4%;
    }

    .product {
        width: 96%;
        height: auto;
        margin: 4px 0;
        padding: 2%;
        font-size: 1em;
    }

    .product .cover {
        width: 23%;
        margin-right: 4%;
    }

    .product .info {
        width: 73%;
        height: auto;
    }

    .product .info h4 {
        font-size: 1.2em;
        line-height: 1.25em;
        color: #2f383d;
    }

    .product .rating {
        float: left;
        width: 100%;
    }

    .product .buttonContainer {
        width: 25%;
        margin: 0;
    }
}